References and links : I referred this paper : [Reference](http://janmatuschek.de/LatitudeLongitudeBoundingCoordinates#Longitude)<br>
Few links on stack overflow :
1.  [Fast haversine approximation](https://stackoverflow.com/questions/29545704/fast-haversine-approximation-python-pandas)
2.  [Algo to find latitudes and logitudes in certain distance](https://stackoverflow.com/questions/5031268/algorithm-to-find-all-latitude-longitude-locations-within-a-certain-distance-fro)

In [34]:
import pandas as pd
import math
import numpy as np

In [35]:
info=pd.read_csv("/content/20251_20326.csv")

In [36]:
info.head()

   frame_no  track_id         type  travelled_d  ...  speed  lon_acc  lat_acc   time
0     20251        77   Motorcycle       146.76  ...    0.0      0.0      0.0  810.0
1     20251        86          Car       279.73  ...    0.0      0.0      0.0  810.0
2     20251       188          Car        29.57  ...    0.0      0.0      0.0  810.0
3     20251       210          Car       252.98  ...    0.0      0.0      0.0  810.0
4     20251       253         Taxi        68.18  ...    0.0      0.0      0.0  810.0

[5 rows x 11 columns]

In [37]:
#info.info()
df=pd.DataFrame(info)
df.track_id.unique()

array([  77,   86,  188,  210,  253,  265,  460,  467,  470,  581,  609,
        614,  622,  639,  640,  661,  690,  825,  826,  944, 1058, 1069,
       1109, 1169, 1245, 1296, 1418, 1428, 1453, 1478, 1482, 1535, 1553,
       1580, 1623, 1637, 1644, 1684, 1686, 1730, 1731, 1733, 1735, 1752,
       1753, 1754, 1784, 1789, 1815, 1817, 1821, 1829, 1847, 1850, 1855,
       1859, 1864, 1870, 1871, 1874, 1876, 1878, 1886, 1887, 1888, 1895,
       1900, 1905, 1908, 1914, 1916, 1922, 1924, 1925, 1926, 1927, 1935,
       1939, 1942, 1943, 1945, 1946, 1947, 1948, 1950, 1953, 1958, 1959,
       1961, 1963, 1967, 1970, 1971, 1976, 1979, 1985, 1987, 1991, 1996,
       2002, 2005, 2013, 2015, 2017, 2020, 2036, 2041, 2046, 2049, 2052,
       2054, 2055, 2056, 2057, 2061, 2063, 2064, 2067, 2068, 2069, 2072,
       2074, 2075, 2078, 2080, 2081, 2085, 2086, 2090, 2092, 2093, 2095,
       2096, 2097, 2098, 2101, 2102, 2104, 2105, 2108, 2110, 2111, 2112,
       2115, 2118, 2119, 2122, 2128, 2129, 2130, 2133, 2135, 2139, 2140,
       2142, 2143, 2144, 2145, 2147, 2148, 2149, 2150, 2151, 2153, 2155,
       2157, 2159, 2162, 2163, 2164, 2168, 2176, 2181, 2195, 2197, 2211,
       2213, 2220, 2228, 2234, 2235, 2240, 2256, 2257, 2272, 2279])

In [39]:
# Segment for global variables
MIN_LAT = math.radians(-90)
MAX_LAT = math.radians(90)
MIN_LON = math.radians(-180)
MAX_LON = math.radians(180)

EARTH_RADIUS = 6378137     # In meters, as per wikipedia

In [40]:
# Function to convert degrees to radians
def to_radians(lat_deg,lon_deg):
  lat_rad = math.radians(lat_deg)
  lon_rad = math.radians(lon_deg)
  return lat_rad,lon_rad

In [41]:
# Function that checks bounds of latitudes and longitudes
def check_bounds(lat,lon):
  if lat < MIN_LAT or lat > MAX_LAT or lon < MIN_LON or lon > MAX_LON :
    return false
  else:
    return true

Finding greater distance using Haversine formula

In [42]:
# Function that calculates greater circle distance i.e., distance along the surface of earth
def greatCircleDistance(lat1,lon1,lat2,lon2):
  return radius * math.acos(math.sin(lat1) * math.sin(lat2)) + math.cos(lat1) * math.cos(lat2) * math.cos(lon1-lon2)

In [43]:
# Function that gives latitude and longitude boundaries
def give_bounds(lat,lon,distance,radius=EARTH_RADIUS):
  rad_dist = distance/radius   #  radial distance
  min_lat = lat - rad_dist
  max_lat = lat + rad_dist

  if min_lat > MIN_LAT and max_lat < MAX_LAT:
    delta_lon = math.asin(math.sin(rad_dist)/math.cos(lat))

    min_lon = lon - delta_lon
    if min_lon < MIN_LON:
      min_lon += 2 * math.pi
    
    max_lon = lon + delta_lon
    if max_lon > MAX_LON:
      max_lon -= 2 * math.pi
  
  else :  # There is pole in between
    min_lat = max(min_lat,MIN_LAT)
    max_lat = min(max_lat,MAX_LAT)
    min_lon = MIN_LON
    max_lon = MAX_LON

  return min_lat,min_lon,max_lat,max_lon

In [44]:
lat,lon =to_radians(26.062951, -80.238853)
give_bounds(lat,lon,10)

(0.45488273988000577,
 -1.4004339182096255,
 0.4548858755918916,
 -1.4004304275378339)